html, body{
	width: 100%;
	height: 100%;
}
body{
	margin: 0;
	overflow: hidden;
	font: 100 2vmin sans-serif;
}
#c{
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
}
#sidebar{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	padding: 0 100px;
}
#sidebar>div{
	padding: 10px 0;
}
#sidebar>div>*{
	display: inline-block;
	margin: 0 10px;
}
#sidebar>div>div{
	width: 2vmin;
	height: 2vmin;
}